
<div class="row forum vertical-align">
  <div class="col-sm-1">
    <img src="{{getGravatarUrl forum.user.email}}" alt="image" class="img-responsive img-circle">
  </div>
  <div class="col-sm-6">
    <h4>Forum title</h4>
    Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais, das professoras, mas também é o dia dos animais, sempre que você olha uma criança, há sempre uma figura oculta, que é um cachorro atrás.
  </div>
  <div class="col-sm-2">
    <dl>
      <dt class="stats_number">456</dt>
      <dd class="stats_type">topics</dd>
    </dl>
    <dl>
      <dt class="stats_number">647.602</dt>
      <dd class="stats_type">posts</dd>
    </dl>
  </div>
  <div class="col-sm-3">
    last post
    last post author
    time from last post
  </div>
</div>

