<ul class="nav navbar-nav navbar-right">
  <li><p class="navbar-text">Already have an account?</p></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign In</b> <span class="caret"></span></a>
    <ul id="login-dp" class="dropdown-menu">
      <li>
        <div class="row">
          <div class="col-md-12">
            <p>Sign In</p>
            <!--<div class="social-buttons">-->
              <!--<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>-->
              <!--<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>-->
            <!--</div>-->
            <!--<p>or</p>-->
            <form class="form" role="form" method="post" action="/account/signin" accept-charset="UTF-8" id="login-nav">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                <div class="help-block text-right"><a href="/account/forgotpassword">Forgot password?</a></div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Keep me signed in
                </label>
              </div>
            </form>
          </div>
          <div class="bottom text-center">
            Don't have an account? <a href="/account/register"><b>Sign Up</b></a>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
