
<!--NEW FORUM MODAL FORM -->
<div class="modal fade newForumModal" id="newForumModal" tabindex="-1" role="dialog" aria-labelledby="newForumModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <form method="post" action="/forum/new">
        <input type="hidden" name="forumId" id="forumId" value="">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" class="form-control" id="forumTitle" placeholder="Title">
          </div>
          <div class="form-group">
            <textarea name="description" class="newForumDescription"></textarea>
          </div>

          <div class="form-group">

            <label class="checkbox-inline">Visibility</label>
            <input type="checkbox" name="visibility" value="public" checked data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" checked>

            <label class="checkbox-inline">Featured</label>
            <input type="checkbox" name="featured" value="true" data-toggle="toggle" data-on="Yes" data-off="No" data-width="80">

            <label class="checkbox-inline">Allow anonimous post</label>
            <input type="checkbox" name="allowanonymous" value="true" data-toggle="toggle" data-on="Yes" data-off="No" data-width="80">

          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Create Forum" id="buttonConfirm" class="btn btn-primary">
        </div>

      </form>

    </div>
  </div>
</div>






<div class="modal fade newTopicModal" id="newTopicModal" tabindex="-1" role="dialog" aria-labelledby="newTopicModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <form method="post" action="/topic/new">
        <input type="hidden" name="forumId" id="forumId" value="">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" class="form-control" id="topicTitle" placeholder="Title">
          </div>
          <div class="form-group">
            <textarea name="description" class="newTopicDescription"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Create Topic" id="buttonConfirm" class="btn btn-primary">
        </div>

      </form>

    </div>
  </div>
</div>




<div class="modal fade" tabindex="-1" id="confirmDelete" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Delete message</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/usuario/delete/" id="buttonConfirm" class="btn btn-danger">Confirmar</a>
      </div>
    </div>
  </div>
</div>
