<div class="row topic">
  <div class="col-sm-6">
    <h4>Topic title <small>By john_doe, 20 de fevereiro de 2015</small></h4>
    Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais, das professoras, mas também é o dia dos animais, sempre que você olha uma criança, há sempre uma figura oculta, que é um cachorro atrás.
  </div>
  <div class="col-sm-3">
    <dl>
      <dt class="stats_number">0</dt>
      <dd class="stats_type">answers</dd>
    </dl>
    <dl>
      <dt class="stats_number">647.602</dt>
      <dd class="stats_type">views</dd>
    </dl>
  </div>
  <div class="col-sm-3">

  </div>
</div>
