<div class="row topic vertical-align">
  <div class="col-sm-6">
    <h4><a href="/topic/{{topic.id}}">{{topic.title}}</a></h4>
    {{encodeMyString topic.description}}
  </div>
  <div class="col-sm-3">
    <dl>
      <dt class="stats_number">0</dt>
      <dd class="stats_type">answers</dd>
    </dl>
    <dl>
      <dt class="stats_number">647.602</dt>
      <dd class="stats_type">views</dd>
    </dl>
  </div>
  <div class="col-sm-3">
    <small>by {{topic.user.display_name}}, 20 de fevereiro de 2015</small>
  </div>
</div>
