html {
  height: 100%;
}

body{
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #034861;
}


.featured-ribbon {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 80px;

  img {
    width: 100%;
  }
}



div.list-panels {

  .panel-body{
    padding: 0;

    .row {
      padding: 15px;
      margin-left: 0;
      margin-right: 0;

    }
  }
}



.page-header button.btn.pull-right {
  margin-top: 20px;
  margin-bottom: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

img.gravatar {
  width: 50px;
}

.navbar-brand > img {
  height: 25px;
  float: left;
  margin-right: 10px;
}


div.page-header{

  span.pull-right {
    margin-top: 30px;
  }

}


