html {
  height: 100%;
}

body{
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #034861;
}

.page-header button.btn.pull-right {
  margin-top: 20px;
  margin-bottom: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

img.gravatar {
  width: 50px;
}

.navbar-brand > img {
  height: 25px;
  float: left;
  margin-right: 10px;
}


div.page-header{

  span.pull-right {
    margin-top: 24px;
  }

}


