
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li class="active">Forums</li>
</ol>



<div class="page-header">
  <h1>Forums</h1>
</div>





<div class="row forum-toolbar">
  <div class="col-xs-8">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>

  </div>
  <div class="col-xs-4">

    {{#if @root.data.user}}
      <span class="pull-right">
        {{#ifAdmin @root.data.user.profile}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newForumModal" data-title="New Forum">New Forum <span class="glyphicon glyphicon-plus"></span></button>
        {{/ifAdmin}}
      </span>
    {{/if}}

  </div>

</div>




{{#if featuredForums}}
<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Featured forums</h3>
      </div>
      <div class="panel-body">



      </div>
    </div>

  </div>
</div>
{{/if}}



{{#if forums}}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Forums</h3>
        </div>
        <div class="panel-body">

          {{#each forums as |forum|}}
            {{>forum forum=forum}}
          {{/each}}

        </div>
      </div>

    </div>
  </div>


{{/if}}
