
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li class="active">Forums</li>
</ol>




<div class="page-header">

  <div class="row">
    <div class="col-xs-6"><h1>Forums</h1></div>
    <div class="col-xs-6">

      {{#if @root.data.user}}
        <span class="pull-right">
          {{#ifCond @root.data.user.profile 'admin'}}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newForumModal" data-title="New Forum">New Forum <span class="glyphicon glyphicon-plus"></span></button>
          {{/ifCond}}
        </span>
      {{/if}}

    </div>
  </div>

</div>





{{#if featuredForums}}
<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Featured forums</h3>
      </div>
      <div class="panel-body">



      </div>
    </div>

  </div>
</div>
{{/if}}



{{#if forums}}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Forums</h3>
        </div>
        <div class="panel-body">

          {{#each forums as |forum|}}
            {{>forum forum=forum}}
          {{/each}}

        </div>
      </div>

    </div>
  </div>

{{else}}
  <h3>No forums created yet</h3>
{{/if}}
