
<div class="jumbotron">
  <div class="container">
    <h1>My forum app!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<div class="page-header">

  <div class="row">
    <div class="col-xs-6"><h1>Forums</h1></div>
    <div class="col-xs-6">
      {{#ifCond @root.data.user.profile 'admin'}}
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newForumModal" data-title="New Forum">Create new forum <span class="glyphicon glyphicon-plus"></span></button>
      {{/ifCond}}
    </div>
  </div>

</div>


{{#if forums}}

  <div class="row">

  {{#each forums as |forum|}}
    {{>forumCard forum=forum}}
  {{/each}}

  </div>

{{else}}

  <h3>No forums created yet</h3>

{{/if}}
