

<div class="jumbotron">
  <div class="container">
    <h1>My forum app!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<div class="page-header">

  <div class="row">
    <div class="col-xs-6"><h1>Forums</h1></div>
    <div class="col-xs-6">
      {{#ifCond @root.data.user.profile 'admin'}}
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newForumModal" data-title="New Forum">Create new forum <span class="glyphicon glyphicon-plus"></span></button>
      {{/ifCond}}
    </div>
  </div>


</div>




{{#if forums}}

  <div class="row">

  {{#each forums as |forum|}}
    {{>forumCard forum=forum}}
  {{/each}}

  </div>

{{else}}

  <h3>No forums created yet</h3>

{{/if}}





<div class="page-header">
  <h1>Stats</h1>
</div>




<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">Messages</li>
      <li class="list-group-item">Unread messages</li>
      <li class="list-group-item">etc</li>
      <li class="list-group-item">etc</li>
      <li class="list-group-item">etc</li>
    </ul>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
