
<div class="jumbotron">
  <div class="container">
    <h1>My forum app!</h1>
    <p>An Internet forum, or message board, is an online discussion site where people can hold conversations in the form of posted messages. They differ from chat rooms in that messages are often longer than one line of text, and are at least temporarily archived. Also, depending on the access level of a user or the forum set-up, a posted message might need to be approved by a moderator before it becomes visible.</p>
    <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Internet_forum" target="_blank" role="button">Learn more »</a></p>
  </div>
</div>


<div class="page-header">

  <div class="row">
    <div class="col-xs-6"><h1>Forums</h1></div>
    <div class="col-xs-6">
      {{#ifCond @root.data.user.profile 'admin'}}
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newForumModal" data-title="New Forum">Create new forum <span class="glyphicon glyphicon-plus"></span></button>
      {{/ifCond}}
    </div>
  </div>

</div>


{{#if forums}}

  <div class="row">

  {{#each forums as |forum|}}
    {{>forumCard forum=forum}}
  {{/each}}

  </div>

{{else}}

  <h3>No forums created yet</h3>

{{/if}}
